@font-face {
  font-family: "Tektur";
  src: url(/fonts/taktur/Tektur-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  overflow: hidden;
}

.battleship_header h1 {
  font-size: 26px;
  color: #313131;
}

.battleship_header span {
  color: #808080;
}

.battleship_container {
  margin: 24px auto;
  max-width: 860px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.battleship_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.battleship_main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

.letters_grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  position: absolute;
  top: -25px;
  left: 0;
}

.letters_grid span {
  justify-self: center;
  align-self: center;
}

.numbers_grid span {
  align-self: center;
  justify-self: center;
}

.numbers_grid {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  position: absolute;
  top: 0;
  left: -25px;
}

.info-section {
  display: flex;
  width: calc(30px * 10);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -35px;
}

.battle_field {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);

  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;

  background-image: linear-gradient(to right, gainsboro 1px, transparent 1px),
    linear-gradient(to bottom, gainsboro 1px, transparent 1px);
  background-size: 30px 30px;
}

.actions_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.switcher {
  position: relative;
  display: inline-flex;
  background: #7965c1;
  border-radius: 8px;
  padding: 4px;
  width: fit-content;
}

.switcher button {
  position: relative;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  cursor: pointer;
}

.switch-control {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc(50% - 4px);
  background: #362b7d;
  border-radius: 8px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.switcher.right .switch-control {
  transform: translateX(100%);
}

.invite_friend_wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 10px 34px 10px;
  background: transparent;
  border-radius: 8px;
  font-size: 12px;
  border: 1px solid gainsboro;
}

.invite_friend_wrapper div {
  width: 100%;
  border-radius: 4px;
  background: #7965c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  color: #ffffff;
}

.link {
  margin: 8px;
}

.battleship_btn {
  border: none;
  outline: none;
  background: #7965c1;
  border-radius: 8px;
  padding: 10px 20px;
  width: fit-content;
  font-size: 14px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.battleship_btn:hover {
  background: #362b7d;
}

.play_btn_loading {
  opacity: 0.6;
  pointer-events: none;
}

.link {
  overflow-x: scroll;
}

.link::-webkit-scrollbar {
  display: none;
}

.invite_friend_wrapper div button {
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-left: 1px solid #ae9fe6;
  outline: none;
  cursor: copy;
  background: transparent;
}

.invite_friend_wrapper img {
  width: 30px;
}

.instructions_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instructions_wrapper span {
  color: gray;
}

.cell_btn {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  height: 100%;
  cursor: url("/assets/aim.svg") 16 16, auto;
}

.miss_field {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  pointer-events: none;
  cursor: default;
}

.miss_field::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/assets/dot-fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hitted_field {
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: default;
  border: 2px solid #dd1919;
}

.hitted_field::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/assets/x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.disabled_btn {
  opacity: 0.4;
  pointer-events: none;
}

.instructions_container{
  min-width: calc(30px * 10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instructions_container button{
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 8px;
  will-change: background;
  transition: background 0.3s linear;
}

.instructions_container button:hover{
  background: gainsboro;
}

.instructions_container img{
  width: 25px;
}