:root{
    --primary-text-color: #262633;
    --primary-bg: #c2d3db;
    --secondary-color: #ffc107; 
}

*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.pages_container{
    padding: 55px 0 0 0;
}

.hidden{
    display: none;
}

@media screen and (max-width: 480px) {
    .pages_container{
        padding: 80px 16px;
    }
}